/* 

Styles:     Greenville Outdoor Living

version:    1.0 — 01/27/20 Update
author:     joshua blankenship
email:      joshua@blankenship.xyz
website:    http://blankenship.xyz
          
/* FOUNDATION */

    *, html, body, div, span, object, iframe,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strike, strong, sub, sup, tt, var,
    dl, dt, dd, ol, ul, li, img, figure, figcaption,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td {
        -moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased; 
        font-smoothing: antialiased;
        margin: 0;
        padding: 0;
        outline: none;
        }

    @keyframes hello {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    * {
        margin: 0;
        padding: 0;
    }

    hr { display: none; }

    html {
        font-size: 15px;
    }

    body {
        background-color: #65685b;
        color: #f3efe4;
        line-height: 1.5;
        overflow-x: hidden;
        margin: 0 auto;
    }

    a { 
        display: inline-block;
        text-decoration: none;
    }

    a:hover { 
    }

    ul,
    li { list-style-type: none; }

/* HEADER */

    header {
        margin: 0 auto;
        text-align: center;
        padding: 2em 0;
        width: 80%;
   }

/* TYPOGRAPHY */

    h1 {
        color: #f3efe4;
        font: 700 2rem/2rem futura-pt, sans-serif;
        letter-spacing: 6px;
        text-transform: uppercase;
   }

    h1 span {
        color: #fbcd09;
        display: block;
        font: 400 4.25rem/4.5rem  maple-web, sans-serif; 
        letter-spacing: 4px;
   }

    nav {
        border-bottom: 2px solid #384443;
        display: block;
        font: 700 1rem/1rem futura-pt, sans-serif;
        letter-spacing: 4px;
        margin-bottom: 6em;
        padding-bottom: 2em;
        text-align: center;
        text-transform: uppercase;
    }

    nav a {
        color: #ada78e;
    }

    nav a:hover {
        color: #384443;
    }

    nav ul li {
        display: inline;
        padding: 0 2em;
    }

    h2 {
        color: #ada78e;
        font: 400 3rem/3.7rem miller-text, serif;
   }

    h3 {
        color: #384443;
        font: 700 2rem/2rem futura-pt, sans-serif;
        letter-spacing: 2px;
        margin: 4em 0 0 6em;
        text-transform: uppercase;
   }

    h4 {
        color: #384443;
        font: 700 1rem/1rem futura-pt, sans-serif;
        letter-spacing: 2px;
        margin-bottom: 1em;
        text-transform: uppercase;
   }

    p {
        font: 400 1.3rem/1.8rem miller-text, serif;
        text-indent: 2em;
    }


/* SECTION -- DEM GRIDS */

    main {
        margin: 10rem auto;
        width: 60%;
    }

    section {
        margin: 0 auto;
    }

    section ul li { display: inline; }

    .dos {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .tres {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-gap: 5%;
    }

    .quatro {
        display: grid;
        grid-template-columns: 21.25% 21.25% 21.25% 21.25%;
        grid-gap: 5%;
    }

    figure img { 
        display: block;
        width: 100%;
     }

    figure.hero { 
        border: 2em solid #ada78e;
        box-shadow: 10rem 100rem #65685b;
        margin: 0 auto 1rem;
        width: 80%;
    }

    section figcaption { 
        color: #393939;
        margin: 0 auto; 
    }

    #quilt {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 0 auto;
    }

    #quilt img:nth-child(1) { margin-top: 5rem; width: 80% }
    #quilt img:nth-child(2) { width: 80% }
    #quilt img:nth-child(3) { margin-top: -5rem; width: 85% }
    #quilt img:nth-child(4) { margin-top: 5rem; width: 75%; }

    
/* WEE SCREENS */

        @media (min-width: 801px) and (max-width: 1000px) {

            .quatro {
                    display: grid;
                    grid-template-columns: 45% 45%;
                    grid-column-gap: 10%;
                }

        }

        @media (min-width: 100px) and (max-width: 800px) {

       

        .tres,
        .quatro {
                display: block;
                margin: 0 auto;
                padding: 0;
            }

        }