/* 

Styles:     Greenville Outdoor Living

version:    1.0 — 01/27/20 Update
author:     joshua blankenship
email:      joshua@blankenship.xyz
website:    http://blankenship.xyz
          
/* FOUNDATION */

    *, html, body, div, span, object, iframe,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strike, strong, sub, sup, tt, var,
    dl, dt, dd, ol, ul, li, img, figure, figcaption,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td {
        -moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased; 
        font-smoothing: antialiased;
        margin: 0;
        padding: 0;
        outline: none;
        }

    @keyframes hello {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    * {
        margin: 0;
        padding: 0;
    }

    hr { display: none; }

    html {
        font-size: 15px;
    }

    body {
        background-color: #65685b;
        color: #f3efe4;
        line-height: 1.5;
        overflow-x: hidden;
        margin: 0 auto;
    }

    a { 
        display: inline-block;
        text-decoration: none;
    }

    a:hover { 
    }

    ul,
    li { list-style-type: none; }

/* HEADER */

    header {
        margin: 0 auto;
        text-align: center;
        padding: 0 0 6em;
        width: 100%;
   }

     nav {
        background: #f3efe4;        
        display: block;
        margin: 0 auto 6em;
        padding: 2em 0;
   }

    nav ul {
        font: 700 1rem/1rem futura-pt, sans-serif;
        letter-spacing: 4px;
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
        max-width: 1600px;
    }

/* TYPOGRAPHY */

    h1 {
        color: #f3efe4;
        font: 700 2rem/2rem futura-pt, sans-serif;
        letter-spacing: 6px;
        text-transform: uppercase;
   }

    h1 span {
        color: #fbcd09;
        display: block;
        font: 400 4.25rem/4.5rem  maple-web, sans-serif; 
        letter-spacing: 4px;
   }

   

    nav a {
        color: #65685b;
    }

    nav a:hover {
        color: #384443;
    }

  
    nav ul li {
        display: inline;
        padding: 0 2em;
    }

    h2 {
        color: #ada78e;
        font: 400 2.5rem/3rem miller-text, serif;
   }

    main h2 { 
        margin-left: 1em;
        width: 65%;
        max-width: 1600px;
    }

    main h2 strong {
        color: #f3efe4;
        font: 700 1.8rem/1.8rem futura-pt, sans-serif;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    h3 {
        color: #384443;
        font: 700 2rem/2rem futura-pt, sans-serif;
        letter-spacing: 2px;
        margin: 4em 0 0 6em;
        text-transform: uppercase;
   }

    h4 {
        color: #384443;
        font: 700 1rem/1rem futura-pt, sans-serif;
        letter-spacing: 2px;
        margin-bottom: 1em;
        text-transform: uppercase;
   }

    p {
        font: 400 1.3rem/1.8rem miller-text, serif;
    }

    div h3 { 
        color: #f3efe4;
        margin: 0 0 2.75rem 0;
        text-align: left; 
    }


/* -- SERVICES -- */

    ul#services {
        margin-bottom: 6rem;
    }

    ul#services {
        color: #ada78e;
        font: 400 2.5rem/2.75rem miller-text, serif;
    }

    ul#services li {
        border-bottom: 1px solid #384443;
        padding: 1.5rem 0;
    }

    form,
    ul#services li:first-of-type {
        border-top: 1px solid #384443;
    }

   form  {
        padding-top: 1.2em;
   }

   form p {
        color: #ada78e;
        font: 700 1.2rem/1.2rem futura-pt, sans-serif;
   }

   input,
   textarea {
        background-color: #f3efe4;
        color: #263030;
        display: block;
        font: 400 1rem/1.8rem futura-pt, sans-serif;
        height: 2.75rem;
        margin: 1.5em 0;
        padding: .5em;
        width: 100%;
   }

   textarea {
        min-height: 6em;
   }

   button {
        background: #fbcd09;
        border: none 0;
        border-radius: 2rem;
        color: #263030;
        font: 700 1rem/1rem futura-pt, sans-serif;
        letter-spacing: 2px;
        padding: 1rem 0;
        text-transform: uppercase;
        width: 100%;
   }

/* SECTION -- DEM GRIDS */

    main {
        margin: 4em auto 8em;
        width: 100%;
        max-width: 1600px;
    }

    section {
        margin: 0 auto;
    }

    .dos {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 10%;      
        margin: 10rem auto;
        width: 80%;
        max-width: 1600px;
    }

    figure img { 
        display: block;
        width: 100%;
        max-width: 1600px;
     }

    figure.hero { 
        border: 2em solid #ada78e;
        margin: 0 auto 2em;
        width: 80%;
        max-width: 1600px;
    }

    #plot {
        background-color: #263030;
    }

    #plot figure {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 10%;
        margin: 0 auto;
        padding: 5em;
        max-width: 1600px;
    }

    #plot figure img:nth-child(1) { margin-top: 5em; width: 100% }
    #plot figure img:nth-child(2) { margin-top: -10em; width: 100% }
    #plot figure img:nth-child(3) { margin: 5em 0 0 20%; width: 80% }
    #plot figure img:nth-child(4) { margin: -2rem 0 0 -10%; width: 100%; }


/* -- ABOUT -- */

section#about {
    background-color: #ada78e;
    margin: 0 auto;
    padding: 5em;
}

section#about h3 {
    font: 700 3rem/3rem futura-pt, sans-serif;
    letter-spacing: 2px;
    margin: 2em auto 1em;
    text-align: center;
}

section#about p {
    color: #384443;
    margin: 0 auto 1.8em;
    text-align: justify;
    width: 60%;
    max-width: 1000px;
}


/* -- FOOTER -- */

    footer {
        background-color: #ada78e;
        color: #65685b;
        text-align: center;
        padding: 6em 0;
    }

    footer a { color: #f3efe4; }

    footer p {
        color: #65685b;
        font: normal 700 2rem/2.5rem futura-pt, sans-serif;
    }

    footer p:last-of-type {
        font: normal 700 1rem/1rem futura-pt, sans-serif;
        margin-top: 1rem;
        text-transform: uppercase;
    }

/* THANKS PAGE */

    #thanks main { 
        width: 80%;
        text-align: center; 
    }

    #thanks main h2 { 
        margin: 0 auto;
        width: 50%;
        max-width: 800px;
    }

    #thanks h1 a {}

/* WEE SCREENS */

@media (min-width: 100px) and (max-width: 900px) {

    h1 {
        font: 700 1rem/1rem futura-pt, sans-serif;
        letter-spacing: 3px;
    }

    h1 span {
        display: block;
        font: 400 2.25rem/2.5rem  maple-web, sans-serif; 
        letter-spacing: 2px;
   }

    nav {
        font: 700 .5rem/.5rem futura-pt, sans-serif;
        margin-bottom: 3em;
        padding: 1em 0;
    }

    figure.hero { 
        border: none 0;
        margin: 0 auto 2em;
        width: 100%;
    }

    h2 {
        font: 400 1.3rem/1.8rem miller-text, serif;
   }

    main {
        margin: 2em auto 4em;
        width: 90%;
    }

    main h2 { 
        margin: 0 auto;
        width: 90% 
    }

    main h2 strong {
        font: 700 1.1rem/1.8rem futura-pt, sans-serif;
    }

    h4 {
        font: 700 .5rem/.5rem futura-pt, sans-serif;
    }

    p {
        font: 400 1rem/1.4rem miller-text, serif;
    }

    #plot {
        background-color: #263030;
        display: block;
        margin: 0 auto;
    }

    #plot figure {
        display: block;
        margin: 0 auto;
        padding: 2em;
    }

    #plot figure img:nth-child(1), 
    #plot figure img:nth-child(2),
    #plot figure img:nth-child(3),
    #plot figure img:nth-child(4) {
        border: none 0;
        margin: 0 auto 2em; 
        width: 100%;
    }


    figure img { 
        max-width: 100%;
     }

    .dos {
        display: block;      
        margin: 5rem auto;
        width: 90%;
    }
       
    section#about {
        padding: 2em;
    }

    section#about h3 {
        font: 700 2rem/2rem futura-pt, sans-serif;
        margin: 1em auto .5em;
    }

    section#about p {
        margin: 0 auto 1.4em;
        width: 90%;
    }

}

/* -- Fin. -- */