/* 

Styles:     Greenville Outdoor Living

version:    1.0 — 01/27/20 Update
author:     joshua blankenship
email:      joshua@blankenship.xyz
website:    http://blankenship.xyz
          
/* FOUNDATION */

    *, html, body, div, span, object, iframe,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strike, strong, sub, sup, tt, var,
    dl, dt, dd, ol, ul, li, img, figure, figcaption,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td {
        -moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased; 
        font-smoothing: antialiased;
        margin: 0;
        padding: 0;
        outline: none;
        }

    @keyframes hello {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    * {
        margin: 0;
        padding: 0;
    }

    hr { display: none; }

    html {
        font-size: 15px;
    }

    body {
        background-color: #65685b;
        color: #f3efe4;
        line-height: 1.5;
        overflow-x: hidden;
        margin: 0 auto;
    }

    a { 
        display: inline-block;
        text-decoration: none;
    }

    a:hover { 
    }

    ul,
    li { list-style-type: none; }

/* HEADER */

    header {
        margin: 0 auto;
        text-align: center;
        padding: 2em 0 6em;
        width: 90%;
   }

/* TYPOGRAPHY */

    h1 {
        color: #f3efe4;
        font: 700 2rem/2rem futura-pt, sans-serif;
        letter-spacing: 6px;
        text-transform: uppercase;
   }

    h1 span {
        color: #fbcd09;
        display: block;
        font: 400 4.25rem/4.5rem  maple-web, sans-serif; 
        letter-spacing: 4px;
   }

    nav {
        border-bottom: 1px solid #ada78e;
        display: block;
        font: 700 1rem/1rem futura-pt, sans-serif;
        letter-spacing: 4px;
        margin-bottom: 6em;
        padding-bottom: 2em;
        text-align: center;
        text-transform: uppercase;
    }

    nav a {
        color: #ada78e;
    }

    nav a:hover {
        color: #384443;
    }

    nav ul li {
        display: inline;
        padding: 0 2em;
    }

    h2 {
        color: #ada78e;
        font: 400 2.5rem/2.75rem miller-text, serif;
   }

    main h2 { max-width: 60% }

    main h2 a {
        border-bottom: 3px solid #fbcd09;
        color: #fbcd09;
        font: italic 400 2.5rem/2.75rem miller-text, serif;
        padding-bottom: 3px;
    }

    h3 {
        color: #384443;
        font: 700 2rem/2rem futura-pt, sans-serif;
        letter-spacing: 2px;
        margin: 4em 0 0 6em;
        text-transform: uppercase;
   }

    h4 {
        color: #384443;
        font: 700 1rem/1rem futura-pt, sans-serif;
        letter-spacing: 2px;
        margin-bottom: 1em;
        text-transform: uppercase;
   }

    p {
        font: 400 1.3rem/1.8rem miller-text, serif;
    }

    footer p {
        color: #65685b;
        font: 400 2.5rem/2.75rem miller-text, serif;
    }

    footer p:last-of-type {
        font: 700 1rem/1rem futura-pt, sans-serif;
    }

    div h3 { 
        color: #f3efe4;
        margin: 0 0 2.75rem 0;
        text-align: left; 
    }

    ul#services {
        margin-bottom: 6rem;
    }

    input {
        height: 2.75rem;
    }

    form p,
    ul#services {
        color: #ada78e;
        font: 400 2.5rem/2.75rem miller-text, serif;
    }

    form p,
    ul#services li {
        border-bottom: 1px solid #384443;
        padding: 1.5rem 0;
    }

    form,
    ul#services li:first-of-type {
        border-top: 1px solid #384443;
    }

/* SECTION -- DEM GRIDS */

    main {
        margin: 4em auto 6em;
        width: 80%;
    }

    section {
        margin: 0 auto;
    }

    .dos {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 10%;      
        margin: 5rem auto;
        width: 80%;
    }

    figure img { 
        display: block;
        width: 100%;
     }

    figure.hero { 
        border: 2em solid #ada78e;
        margin: 0 auto 2em;
        width: 80%;
    }

    #quilt {
        background-color: #053052;
        display: grid;
        grid-template-columns: 50% 40%;
        grid-gap: 10%;
        margin: 0 auto;
        padding: 5em;
    }

    #quilt img:nth-child(1) { margin-top: 5em; width: 100% }
    #quilt img:nth-child(2) { margin-top: -10em; width: 100% }
    #quilt img:nth-child(3) { margin: -2.5em 0 0 20%; width: 80% }
    #quilt img:nth-child(4) { width: 80%; }

    footer {
        background-color: #ada78e;
        color: #65685b;
        text-align: center;
        padding: 4em 0;
    }

    footer a { color: #f3efe4; }


/* WEE SCREENS */

        @media (min-width: 801px) and (max-width: 1000px) {

            .quatro {
                    display: grid;
                    grid-template-columns: 45% 45%;
                    grid-column-gap: 10%;
                }

        }

        @media (min-width: 100px) and (max-width: 800px) {

       

        .tres,
        .quatro {
                display: block;
                margin: 0 auto;
                padding: 0;
            }

        }